section{
    display: flex;
    margin: 10px 150px 100px 100px;
}
#margin{
    margin-left: 102px;
}
body{
    background-color: #E5E5E5;;
}
#section2{
    margin-top: 15px;
}

h1{
    color: rgb(88, 86, 86);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 40px;
}
h2{font-family: 'Roboto', sans-serif;}
ul{
    color: rgb(88, 86, 86);
    font-family: 'Roboto', sans-serif;
}
p{
    color: rgb(88, 86, 86);
    font-family: 'Roboto', sans-serif;
}
.box{
  width: 300px;
  border: 1px  solid rgb(160, 160, 160);
  padding: 8px;
  margin: 20px;
  border-radius: 2px;
  
}